@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line {
  background-color: #232826;
}

.syntax--constant {
  color: rgba(210, 117, 24, 0.76);
}

.syntax--entity {
  color: rgba(168, 145, 0, 0.71);
}

.syntax--entity.syntax--other {
  color: #BA6912;
}

.syntax--keyword {
  color: #949C8B;
}

.syntax--storage {
  color: #FFEE80;
}

.syntax--string:not(.syntax--string.syntax--unquoted.old-plist:not(.syntax--string.syntax--unquoted.syntax--heredoc)),
.syntax--string.syntax--unquoted.syntax--heredoc .syntax--string {
  color: rgba(199, 164, 161, 0.71);
}

.syntax--comment {
  font-style: italic;
  color: #706D5B;
}

.syntax--support {
  color: #9FC28A;
}

.syntax--variable {
  color: #D1A796;
}

.syntax--variable.syntax--language {
  color: #FF80E1;
}

.syntax--meta.syntax--function-call {
  color: #FFEE80;
}

.syntax--invalid {
  color: #F8F8F8;
  background-color: #800F00;
}

.syntax--text .syntax--source,
.syntax--string.syntax--unquoted.syntax--heredoc,
.syntax--source .syntax--source {
  color: #D9D59F;
  background-color: #24231D;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  color: #7EFCFF;
}

.syntax--string.syntax--quoted .syntax--source {
  color: rgba(67, 151, 64, 0.73);
}

.syntax--string .syntax--constant {
  color: rgba(96, 219, 93, 0.73);
}

.syntax--string.syntax--regexp {
  color: rgba(125, 255, 192, 0.65);
}

.syntax--string .syntax--variable {
  color: #B8B960;
}

.syntax--support.syntax--function {
  color: #85873A;
}

.syntax--support.syntax--constant {
  color: #C27E66;
}

.syntax--support.syntax--class.syntax--exception {
  color: #FF1E00;
}

.syntax--meta.syntax--preprocessor.syntax--c {
  color: #8996A8;
}

.syntax--meta.syntax--preprocessor.syntax--c .syntax--keyword {
  color: #AFC4DB;
}

.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype,
.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype .syntax--entity,
.syntax--meta.syntax--sgml.syntax--html .syntax--meta.syntax--doctype .syntax--string,
.syntax--meta.syntax--xml-processing,
.syntax--meta.syntax--xml-processing .syntax--entity,
.syntax--meta.syntax--xml-processing .syntax--string {
  color: #73817D;
}

.syntax--meta.syntax--tag,
.syntax--meta.syntax--tag .syntax--entity {
  color: #BABD9C;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--name.syntax--tag {
  color: #99A190;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: #CC8844;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--class {
  color: #CFB958;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: #E0DDAD;
}

.syntax--meta.property-group .syntax--support.syntax--constant.syntax--property-value.syntax--css,
.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--property-value.syntax--css {
  color: #AEB14B;
}

.syntax--meta.syntax--preprocessor.syntax--at-rule .syntax--keyword.syntax--control.syntax--at-rule {
  color: #FFB010;
}

.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--named-color.syntax--css,
.syntax--meta.syntax--property-value .syntax--constant {
  color: #999179;
}

.syntax--meta.syntax--constructor.syntax--argument.syntax--css {
  color: #EB939A;
}

.syntax--meta.syntax--diff,
.syntax--meta.syntax--diff.syntax--header {
  color: #F8F8F8;
  background-color: #000E1A;
}

.syntax--markup.syntax--deleted {
  color: #F8F8F8;
  background-color: #800F00;
}

.syntax--markup.syntax--changed {
  color: #F8F8F8;
  background-color: #806F00;
}

.syntax--markup.syntax--inserted {
  color: #F8F8F8;
  background-color: #228000;
}

.syntax--markup.syntax--raw {
  background-color: rgba(143, 221, 246, 0.19);
}

.syntax--markup.syntax--quote {
  background-color: #005BAA;
}

.syntax--markup.syntax--list {
  background-color: #0F0040;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
  color: #9D80FF;
}

.syntax--markup.syntax--italic {
  font-style: italic;
  color: #80FFBB;
}

.syntax--markup.syntax--heading {
  font-weight: bold;
}


// Spell check

.spell-check-misspelling .region {
  z-index: 1;
  border-bottom: 1px solid @syntax-spell-check-misspelling-color;
}


// Bracket matcher

@-webkit-keyframes bracketmatcheranimation {
  from {
    border-bottom-color: fade(@syntax-bracket-matcher-flash-color, 0%);
  }

  15% {
    border-bottom-color: @syntax-bracket-matcher-flash-color;
  }

  to {
    border-bottom-color: @syntax-bracket-matcher-color;
  }
}

.bracket-matcher .region {
  z-index: 1;
  border-bottom: 1px solid @syntax-bracket-matcher-color;
  -webkit-animation-name: bracketmatcheranimation;
  -webkit-animation-duration: 750ms;
}
